<div class="tickets">
    <div class="tickets-title">
        <p>Moje bilety:</p>
    </div>
    <div *ngFor="let booking of bookingDetails">
        <div class="ticket">
            <h3>{{ booking.movieTitle }}</h3>
            <p>Data: {{ booking.sessionDate}}, {{booking.sessionTime}}</p>
            <div *ngIf="isDetailsVisible(booking.id)">
                <p>Liczba miejsc: {{ booking.seatsCount}}</p>
                <p>Numery miejsc: {{ booking.seatNumbers}}</p>
                <p>Sala: {{ booking.hallName }}</p>
                <p class="code">Kod: {{ booking.code }}</p>
            </div>
            <button (click)="toggleDetails(booking.id)">
                {{ isDetailsVisible(booking.id) ? 'Ukryj szczegóły' : 'Pokaż szczegóły' }}
            </button>
        </div>
    </div>
</div>