.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: #282727;*/
}

.register-box {
  background-color: #454545;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.register-box h2 {
  color: white;
  margin-bottom: 20px;
}

.register-box form {
  display: flex;
  flex-direction: column;
}

.register-box input[type="text"],
.register-box input[type="email"],
.register-box input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: white;
}

.register-box input::placeholder {
  color: darkgray;
}

.register-box button {
  padding: 10px;
  background-color: #5a5a5a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-box button:hover {
  background-color: #6b6b6b;
}
