<div class="content-container">
  <div class="movie-details-container">
    <div class="left-column">
      <div class="movie-image">
        <img [src]="movie?.imageUrl" alt="{{ movie?.title }}">
      </div>
      <div class="movie-info">
        <h2>{{ movie?.title }}</h2>
          <a [routerLink]="['/genre', movie?.genres]">{{ movie?.genres }}</a>
        <p>{{ movie?.description }}</p>

      </div>
    </div>
    <div class="right-column">
      <p><strong>Premiera:</strong> {{ movie?.releaseDate }}</p>
      <p><strong>Długość:</strong> {{ movie?.duration }} min</p>
      <p><strong>Reżyseria:</strong> {{ movie?.director }}</p>
      <p><strong>Produkcja:</strong> {{ movie?.production }}</p>
    </div>
  </div>

  <iframe [src]="movie?.trailerUrl | safe" width="640" height="390" frameborder="0" allowfullscreen class="movie-trailer"></iframe>

  <div class="session-title">Dostępne seanse</div>
  <div class="sessions-container">
    <div *ngFor="let session of sessions" class="session-card" (click)="goToSeatReservation(session)">
      <div class="session-date">{{ session.date }}</div>
      <div class="session-time">{{ session.startTime }} - {{ session.endTime }}</div>
    </div>
  </div>
</div>

