<p>reportoire works!</p>

<!--<div>-->
<!--  <h2>Repertuar</h2>-->
<!--  <div *ngFor="let movie of movies">-->
<!--    <h3>{{ movie.title }}</h3>-->
<!--    <p>{{ movie.description }}</p>-->
<!--    &lt;!&ndash; Poniżej lista sesji dla danego filmu &ndash;&gt;-->
<!--    <ul>-->
<!--      <li *ngFor="let session of getSessionsForMovie(movie.id)">-->
<!--        {{ session.date }} {{ session.startTime }} - {{ session.endTime }}-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!-- Repertoire Component's Template -->
<div class="container-fluid">
  <!-- Karuzela filmów -->
<!--  <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">-->
<!--    <slide *ngFor="let movie of movies">-->
<!--      <div class="carousel-caption">-->
<!--        <h3>{{ movie.title }}</h3>-->
<!--        <p>{{ movie.description }}</p>-->
<!--      </div>-->
<!--      <img [src]="movie.imageUrl" alt="image description" style="display: block; width: 100%; height: auto;">-->
<!--    </slide>-->
<!--  </carousel>-->
  <ngb-carousel *ngIf="movies.length > 0" [showNavigationArrows]="true" [showNavigationIndicators]="true">
    <ng-template ngbSlide *ngFor="let movie of movies; let i = index">
      <img [src]="movie.imageUrl" alt="Slide {{i + 1}}" style="width: 100%; height: auto; display: block;">
      <div class="carousel-caption">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.description }}</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <h2 class="mt-4">Repertuar</h2>
  <!-- Lista filmów w formie siatki -->
  <div class="row">
    <div class="col-md-4" *ngFor="let movie of movies">
      <div class="card">
<!--        <img class="card-img-top" [src]="movie.imageUrl" alt="{{ movie.title }} image" style="width: 100%;">-->
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.description }}</p>
          <!-- Poniżej lista sesji dla danego filmu -->
          <ul class="list-unstyled">
            <li *ngFor="let session of getSessionsForMovie(movie.id)">
              {{ session.date }} {{ session.startTime }} - {{ session.endTime }}
            </li>
          </ul>
          <a href="#" class="btn btn-primary">Watch Now</a>
          <a href="#" class="btn btn-secondary">Trailer</a>
        </div>
      </div>
    </div>
  </div>
</div>
