<div class="ticket-validator-container">
    <div class="ticket-validator-container-title">
        <p >Sprawdź bilet:</p>
    </div>
  <div class="input-group">
      <input type="text" placeholder="Wprowadź kod biletu" [(ngModel)]="bookingCode" class="ticket-input"/>
      <button (click)="verifyTicket(bookingCode)">Wyszukaj</button>
  </div>
  <div *ngIf="bookingDetails" class="ticket-details">
      <h3>Szczegóły Biletu:</h3>
      <p><strong>Kod Biletu:</strong> {{booking?.code}}</p>
      <p><strong>Film:</strong> {{booking?.movieTitle}}</p>
      <p><strong>Data Wydarzenia:</strong> {{booking?.date}}</p>
      <p><strong>Godzina Wydarzenia:</strong> {{booking?.startTime}}</p>
      <p><strong>Sala:</strong> {{booking?.hallName}}</p>
      <p><strong>Ilość miejsc:</strong> {{booking?.seatId?.length}}</p>
      <p><strong>Numery miejsc:</strong> {{booking?.seatId}}</p>
      <p><strong>Status:</strong> {{booking?.status}}</p>
      <button (click)="cancelTicket(booking?.id)">Skasuj</button>
  </div>
  <div *ngIf="ticketNotFound" class="ticket-not-found">
    <p>Bilet o podanym kodzie nie istnieje.</p>
</div>
</div>
