.ticket-validator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    margin-top: 20px;
}
.ticket-validator-container-title{
    font-size: 40px;
    background-color: #3d3d3d;
    padding: 10px 10px;
    border-radius: 5px;
    color: rgb(63, 60, 60);
    color: white;
    width: 700px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    height: 50px;
}
.ticket-validator-container-title > p{
    margin-top: 0;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.ticket-input {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #e53935;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ce2926;
}

.ticket-details, .ticket-not-found {
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.ticket-details p, .ticket-not-found p{
    margin: 10px 0;
}
