<nav class="navbar">
    <div class="navbar-brand-container">
        <a routerLink="/repertoire" class="navbar-brand">TicketHub</a>
    </div>
    <div class="navbar-center">
        <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="searchMovies()" placeholder="Search movies...">
    </div>
    <div class="navbar-links">
        <ng-container *ngIf="!loggedIn; else loggedInTemplate">
            <div class="navbar-link login-dropdown" (click)="toggleDropdown($event)">
                <a class="navbar-link">Login</a>
                <div class="dropdown-content" [class.show]="isDropdownVisible" id="dropdownContent" (click)="preventClose($event)">
                    <form (submit)="login(); $event.preventDefault();">
                        <input type="text" placeholder="Username" [(ngModel)]="username" name="username">
                        <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
            <a routerLink="/register" class="navbar-link">Register</a>
        </ng-container>

        <ng-template #loggedInTemplate>
            <a class="navbar-link">{{ currentUsername }}</a>
            <a routerLink="/ticket-management" class="navbar-link">Kontrola biletu</a>
            <a class="navbar-link" (click)="logout()">Logout</a>
        </ng-template>
    </div>
</nav>
