<div class="checkout-container">
    <div class="payment-and-details">
      <div class="payment-summary">
        <div class="location-details">
          <div><i class="fas fa-map-marker-alt"></i> WROCŁAW GALERIA MAGNOLIA • {{session?.hallName}}</div>
          <div><i class="fas fa-calendar-alt"></i> {{session?.date}}, {{session?.startTime}}</div>
        </div>
        <h2>{{session?.movieTitle}}</h2>
        <div *ngFor="let seat of selectedSeats" class="seat-item">
          <div class="seat-details">
            <span class="seat-row">Rząd {{getRow(seat)}}, Miejsce {{getSeatNumber(seat)}}</span>
            <span class="seat-type">{{session?.movieTitle}}</span>
            <span class="seat-price">{{session?.ticketPrice}} PLN</span>
          </div>
        </div>
        <div class="final-price">
          RAZEM DO ZAPŁATY: <span>{{getTotal() }} PLN</span>
        </div>
        <div class="ticket" *ngIf="ticketGenerated">
          <h3>TWÓJ KOD:</h3>
          <div class="ticket-code">{{ ticketCode }}</div>
        </div>
      </div>
      <div class="personal-details" >
        <h3>DANE OSOBOWE</h3>
        <form [formGroup]="personalDetailsForm" (submit)="confirmAndGenerateTicket()">
          <div class="form-group">
            <label for="firstName">Imię*</label>
            <input type="text" id="firstName" formControlName="firstName" required/>
            <div *ngIf="personalDetailsForm.get('firstName')?.invalid && personalDetailsForm.get('firstName')?.touched">
              <small *ngIf="personalDetailsForm.get('firstName')?.errors?.['required']">Imię jest wymagane</small>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Nazwisko*</label>
            <input type="text" id="lastName" formControlName="lastName" required/>
            <div *ngIf="personalDetailsForm.get('lastName')?.invalid && personalDetailsForm.get('lastName')?.touched">
              <small *ngIf="personalDetailsForm.get('lastName')?.errors?.['required']">Nazwisko jest wymagane</small>
            </div>
          </div>
          <div class="form-group">
            <label for="email">E-mail*</label>
            <input type="email" id="email" formControlName="email" required/>
            <div *ngIf="personalDetailsForm.get('email')?.invalid && personalDetailsForm.get('email')?.touched">
              <small *ngIf="personalDetailsForm.get('email')?.errors?.['required']">E-mail jest wymagany</small>
              <small *ngIf="personalDetailsForm.get('email')?.errors?.['email']">Nieprawidłowy format e-maila</small>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmEmail">Powtórz E-mail*</label>
            <input type="email" id="confirmEmail" formControlName="confirmEmail" required/>
            <div *ngIf="personalDetailsForm.get('confirmEmail')?.invalid && personalDetailsForm.get('confirmEmail')?.touched">
              <small *ngIf="personalDetailsForm.get('confirmEmail')?.errors?.['required']">Potwierdzenie e-maila jest wymagane</small>
              <small *ngIf="personalDetailsForm.get('confirmEmail')?.errors?.['email']">Nieprawidłowy format e-maila</small>
              <small *ngIf="personalDetailsForm.errors?.['emailsMismatch']">E-maile nie są zgodne</small>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Telefon</label>
            <input type="text" id="phone" formControlName="phone"/>
            <div *ngIf="personalDetailsForm.get('phone')?.invalid && personalDetailsForm.get('phone')?.touched">
            </div>
          </div>
          <div class="form-group">
            <label for="nip">NIP</label>
            <input type="text" id="nip" formControlName="nip"/>
          </div>
          <button type="submit" class="confirm-button">
            {{ showPersonalDetailsForm ? 'ZATWIERDŹ I GENERUJ BILET' : 'ZATWIERDŹ' }}
          </button>
        </form>
      </div>
    </div>
  </div>
  