body{
  background: #121212; /* Ciemne tło */
  background: radial-gradient(circle, rgba(58,58,58,1) 0%, rgba(18,18,18,1) 100%); /* Subtelny gradient */
  color: white;
  font-family: "Gill Sans MT", sans-serif;
}

