<div class="checkout-container">

    <div class="payment-and-details">

        <div class="payment-summary">
            <div class="location-details">
                <div><i class="fas fa-map-marker-alt"></i> WROCŁAW GALERIA MAGNOLIA • SALA 1</div>
                <div><i class="fas fa-calendar-alt"></i> DZISIAJ, 15 MAJA 2024, 18:00</div>
            </div>
            <h2>Kaskader - Kino Kobiet</h2>
            <div *ngFor="let seat of selectedSeats" class="seat-item">
                <div class="seat-details">
                    <span class="seat-row">Rząd {{seat}}, Miejsce {{seat}}</span>
                    <span class="seat-type">Kino Kobiet</span>
                    <span class="seat-price">PLN {{seat}}</span>
                </div>
            </div>
            <div class="ticket-summary">

                <div class="ticket-details">


                    <div class="ticket-type">Kino Kobiet x{{selectedSeats.length}}</div>
                    <div>+ dopłata event kk (9zł / bilet)</div>
                    <div>+ dopłata internetowa (1.5zł / bilet)</div>
                </div>
                <div class="total-price">
                    <div class="subtotal">89.70 PLN</div>
                    <div>PLN 27.00</div>
                    <div>PLN 4.50</div>
                </div>
            </div>
            <div class="final-price">
                RAZEM DO ZAPŁATY: <span>PLN 121.20</span>
            </div>
            <div class="login-prompt">
                <a href="#">Zaloguj się</a> i skorzystaj ze swoich rabatów, które masz przypisane do konta w aplikacji
                mobilnej
            </div>
            <button  class="confirm-button" (click)="confirmAndGenerateTicket()">ZATWIERDŹ</button>
            <div class="ticket" *ngIf="ticketGenerated">
                <h3>TWÓJ KOD:</h3>
                <div class="ticket-code">{{ ticketCode }}</div>
              </div>
        </div>
        <div class="personal-details">
            <h3>DANE OSOBOWE</h3>
            <form>
                <div class="form-group">
                    <label for="firstName">Imię</label>
                    <input type="text" id="firstName" />
                </div>
                <div class="form-group">
                    <label for="lastName">Nazwisko</label>
                    <input type="text" id="lastName" />
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" />
                </div>
                <div class="form-group">
                    <label for="confirmEmail">Powtórz E-mail</label>
                    <input type="email" id="confirmEmail" />
                </div>
                <div class="form-group">
                    <label for="phone">Telefon</label>
                    <input type="text" id="phone" />
                </div>
                <div class="form-group">
                    <label for="nip">NIP</label>
                    <input type="text" id="nip" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="createAccount" />
                    <label for="createAccount">Chcę od razu utworzyć konto</label>
                </div>
            </form>
        </div>

    </div>
</div>