.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 450px;
}

.movie-card {
  width: 18%;
  margin-bottom: 25px;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-title {
  text-align: center;
  color: white;
  font-size: 16px;
  padding-top: 2px;
  text-decoration: underline;
  font-family: "Gill Sans MT", sans-serif;
}

.search-container {
  padding: 10px;
  text-align: center;
  background-color: #222;
  color: white;
}

.search-container input[type="text"] {
  padding: 8px;
  width: 80%;
  max-width: 550px;
  background-color: gray;
  color: white;
}
.search-container input[type="text"]::placeholder {
  color: darkgray;
}
